$dark-grey: #DFDFDF;
$light-grey: #EFEFEF;
$border-color: #E9EEEF;
$main-text: #4D5052;
$base-transition: all ease-in-out .3s;
$error-color: #E65C4F;
$primary-color: #78A6C8;
$navy-primary-color: #326789;
